<html lang="en-us">
<head>
<title>MessageBoardApp Posts</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css"
	href="/static/admin/css/dashboard.css">
<link rel="stylesheet" type="text/css"
	href="/static/admin/css/responsive.css">

</head>
<body>

	<!-- Header -->
	<div id="header">
		<div id="branding">

			<h1 id="site-name">
				<a href="/admin/">Django administration</a>
			</h1>

		</div>
	</div>
	<!-- END Header -->

	<div class="breadcrumbs">
		<h1>Message Board Posts</h1>
	</div>


	<h1>Add post</h1>
	<div id="content-main">
		<form action="/" method="post" novalidate>
            {% csrf_token %}
			<div>
				<fieldset class="module aligned ">
					<div class="form-row field-text">
						<div>
							<label class="required" for="id_text">Text:</label>
							{{ form.body }}
						</div>
					</div>
				</fieldset>
				
				<input type="submit" value="Save" name="_save">
			</div>
		</form>
	</div>

	<div class="app-auth module">
		<table>

			{% for post in all_posts_list %}
			<tr class="model-group">
				<td class="addLink">{{ post.text }}</td>
			</tr>
			{% endfor %}

		</table>
	</div>
	<script>
		if (window.history.replaceState) {
			window.history.replaceState(null, null, window.location.href);
		}
	</script>
</body>
</html>
